@{
    ViewBag.Title = "About";
Layout= "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@section styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
